.LearningRoute__current__p {
  text-align: center;
  font-weight: 600;
  border-bottom: 2px solid black;
}

.LearningRoute__current__p__score {
  display: block;
  font-size: 1.5em;
  margin: .75em 0;
}