.LearningRoute__current__p {
  text-align: center;
  font-weight: 600;
  border-bottom: 2px solid black;
}

.LearningRoute__current__p__score {
  display: block;
  font-family: var(--header-family);
  letter-spacing: 3pt;
  font-size: 1.5em;
  -webkit-text-stroke: 2px solid var(--blue-dark);
  text-shadow: 3px 4px 0 var(--blue-dark), -1px -1px 0 var(--blue-dark),
    1px -1px 0 var(--blue-dark), -1px 1px 0 var(--blue-dark),
    1px 1px 0 var(--blue-dark);
  margin: 0.75em 0;
}
