.LearningWord {
  padding: 0 1.5rem 1.5rem;
}

.LearningWord__word_heading {
  /* TODO fix font */
}

.LearningWord__current {
  margin: 0;
}

.LearningWord__word {
  font-weight: 500;
  display: block;
  padding: .75em;
  border: solid var(--blue-light);
  border-width: 1rem 0;
}

.LearningWord__correct, .LearningWord__incorrect {
  padding: 1em;
  font-size: .85em;
  font-weight: 500;
  margin: 0;
}

.LearningWord__correct {
  color: var(--blue-dark);
}

.LearningWord__incorrect {
  color: var(--blue-dark);
}
