.Dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Dashboard__total-score {
  display: block;
    /* font-weight: bolder; */
    -webkit-text-stroke: 1px var(--blue-dark);
    text-shadow: 2.5px 2.5px 0 var(--blue-dark), -1px -1px 0 var(--blue-dark), 1px -1px 0 var(--blue-dark), -1px 1px 0 var(--blue-dark), 1px 1px 0 var(--blue-dark);
}

@media only screen and (min-width: 768px) {
  .Dashboard__wordList {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1024px) {
  .Dashboard__header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .Dashboard__wordList {
    grid-template-columns: repeat(3, minmax(0, 500px));
  }
}
